input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus {
  /* box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.1); */
  box-shadow: none;
  outline: none;
}

input[type='password'] {
  letter-spacing: 3px;
}

input[type='search'] {
  /* appearance in safari/chrome */
  box-sizing: content-box;
}

::-ms-clear {
  display: none; /* removes clear icon ie10 adds to text inputs on focus */
}

/* using modernizr - some browsers will show a broken image icon if they dont support svg so lets hide them */
.hasNoSvg img[src *= '.svg'] {
  /* performance ? */
  display: none !important;
}

html,
body,
main {
  height: 100%;
  margin: 0;
}

html {
  font: -apple-system-body;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

.NYTApp .NYTAppHideMasthead {
  display: none;
}

@media (max-width: 1040px) {
  .ReactModal__Body--open {
    overflow: hidden;
  }
}

/* Print styles */